<!DOCTYPE html>
<html>
  <head>
    <title>Upload Success</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }
      h1 {
        color: #007bff;
        margin-top: 50px;
        text-align: center;
      }
      p {
        font-size: 18px;
        text-align: center;
      }
      .container {
        margin: 0 auto;
        max-width: 600px;
        padding: 50px 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Upload Success!</h1>
      <p>Your info has been sent to Insight Physical Therapy and someone will be in touch after review.</p>
      <p>Thank you for choosing us!</p>
    </div>
  </body>
</html>